<html>
<head>
  <title>mindful</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
<!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135672748-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>
<body>
<!-- 
  <p style="font-size:30px">This is a paragraph.</p>
  <p style="font-size:11px">This is another paragraph.</p>
  -->

  <div class="jumbotron">
    <div class="container">
      <img src="/images/mindful.png" alt="Mindful Logo" class="img">
 
    </div>
  </div>
   <p class="welcome">Create an account</p>
  <label for="first" id="first" name="first" class="first" style="font-size: 60px">First name:</label>
  <input type="first" name="first" class="middlefirst" style="height:50px;width:500px;font-size:30px">

  <label for="first" id="first" name="first" class="last" style="font-size: 60px">Last name:</label>
  <input type="first" name="first" class="middlelast" style="height:50px;width:500px;font-size:30px">

  <label for="user" id="user" name="user" class="username" style="font-size: 60px" >Username:</label>
    <input type="text" name="user" class="middleuser" style="height:50px;width:500px;font-size:30px">
    
    <label for="user" id="user" name="user" class="password" style="font-size: 60px">Password:</label>
    <input type="password" name="user" class="middlepass" style="height:50px;width:500px;font-size:30px">
    <br>
    <button onclick="location.href='/home'" class="create" style="font-size : 70px; width: 550px; height: 140px">Create account</button>
    
     
    </div>
<style>

.welcome{
  font-size: 90px;
  text-align: center;
  margin: 100;
}
.first {
position: absolute;
  top: 40%;
  left: 8%;
}

.middlefirst {
position: absolute;
  top: 41%;
  left: 45%;
}

.last {
position: absolute;
  top: 49%;
  left: 8%;
}

.middlelast {
position: absolute;
  top: 50%;
  left: 45%;
}

.middleuser{
   position: absolute;
  top: 58%;
  left: 45%;
}

.username {
position: absolute;
  top: 57%;
  left: 8%;
}

.middlepass {
position: absolute;
  top: 67%;
  left: 45%;
}

.password {
  position: absolute;
  top: 66%;
  left: 8%;
}

.login{
  position: absolute;
  top: 66%;
  left: 8%;
}

.create{
  position: absolute;
  top: 80%;
  left: 22%;
}
</style>
</body>
</html>
