<html>
	<head>
		<title>Event Creation Page</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-theme.min.css" rel="stylesheet">
		<link href="/css/activities.css" rel="stylesheet">
	</head>

	<body>
		<div class="jumbotron">
			<div class="container">
				<img src="/images/mindful.png" alt="Mindful image" class="img">
			</div>
		</div>
		<div class="center"><p>Activities</p></div>
		<div class="donetext"><h1></h1></div>

	<div class="icon-bar">
		<a><img src="/images/statistics.png" onclick="location.href='/'"; alt="statistics" class="img" style="width:100px;height:100px;"></a>
		<a class="active"><img src="/images/activities.png" onclick="location.href='/activities';" alt="activities" class="img" style="width:100px;height:100px;"></a>
		<a><img src="/images/calendar.png" onclick="location.href='/calendar';" alt="calendar" class="img" style="width:100px;height:100px;"></a>
		<a><img src="/images/locations.png" onclick="location.href='/locations';" alt="locations" class="img" style="width:100px;height:100px;"></a>
		<a><img src="/images/settings.png" onclick="location.href='/settings';" alt="settings" class="img" style="width:100px;height:100px;"></a>
	</div>

	<button class="backbutton" onclick="location.href='/';" style="font-size : 70px; width: 140; height: 140px"><</button>
	<button class="addbutton" onclick="location.href='/add';" style="font-size : 70px; width: 140; height: 140px">+</button>
	</body>
</html>
