<html>
<head>
	<title>Event Creation Page</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<img src="/images/mindful.png" alt="Mindful image" class="img">
		</div>
	</div>
	<div class="center"><p>New Event</p></div>
<div class="donetext"><h1>Done</h1></div>
<div class="canceltext"><h1>Cancel</h1></div>

<div class="container">
	<h1>   <h1>
</div>
<div class="container">
	<h1>   <h1>
</div>
<div class="container">
	<form id="addEventForm" role="form" method="get" action="/add">
	<label for="emotion" id="emotion" name="emotion">Emotion:</label>
  <div class="styled-select">

  <select style="height:50px;width:600px;font-size:30px" id="emotion" name="emotion">
   
    <option value="Happy">Happy</option>
    <option value="Sad">Sad</option>
    <option value="Content">Content</option>
    <option value="Stressed">Stressed</option>
    <option value="Anxious">Anxious</option>
    <option value="Depressed">Depressed</option>
  </select>


	<label for="satisfaction" id="satisfaction" name="satisfactiion">Satisfaction Level:</label>
  <div class="styled-select">
  <select style="height:50px;width:600px;font-size:30px" id="satisfaction" name="satisfaction">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select>
</div>

  <label for="activity" id="activity" name="activity">Activity:</label>
  <div class="styled-select">
  <select style="height:50px;width:600px;font-size:30px" id="activity" name="activity">
    <option value="Workout">Workout</option>
    <option value="School">School</option>
    <option value="Studying">Studying</option>
    <option value="Surfing">Surfing</option>
    <option value="Shopping">Shopping</option>
    <option value="Skateboarding">Skateboarding</option>
    <option value="Snowboarding">Snowboarding</option>
    <option value="Coding">Coding</option>
    <option value="Slacklining">Slacklining</option>
    <option value="Partying">Partying</option>
  </select>
</div>

 <label for="location" id="location" name="location">Location:</label>
  <div class="styled-select">
  <select style="height:50px;width:600px;font-size:30px" id="location" name="location">
    <option value="Home">Home</option>
    <option value="School">School</option>
    <option value="Library">Library</option>
    <option value="Work">Work</option>
    <option value="Beach">Beach</option>
    <option value="Grocery Store">Grocery Store</option>
    <option value="Club">Club</option>
    <option value="Friend's House">Friend's House</option>
  </select>
</div>

  <label for="date" id="date" name="date">Date:</label> <h3><input type="date" name="date" style="height:50px;width:600px;font-size:30px"></h1>

  <label for="time" id="time" name="time">Time:</label><h1><input type="time" name="time" style="height:50px;width:600px;font-size:30px"></h1>

	
	 <label for="notes" id="notes" name="notes">Notes (optional):</label>
	  <input type="text" name="notes" style="height:50px;width:600px;font-size:30px">>
	  <br>
	  <input type="submit" id="submitBtn" class="donebutton" value="+" onclick="location.href='/';" style="font-size : 70px; width: 140; height: 140px"></button>
	  <!--<input type="submit" id="submitBtn" class="donebutton" value="Add the event"></input>-->
	</form>
	</div>
</div>
	</body>

<style>

.option {
	font-size: 30px;
}

.styled-select select {
	position: relative;
	left: 0;
}

.center {
	text-align: center;
	font-size: 100px;
}
.icon-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 20px 20px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

.donebutton {
	border-radius: 100px;
	position: absolute;
	top: 325;
	left: 50;
}

.cancelbutton {
	border-radius: 5px;
	position: absolute;
	top: 325;
	right: 50;
}

.donetext {
	position: absolute;
	top: 450;
	left: 75;
}

.canceltext {
	position: absolute;
	top: 450;
	right: 65;
}

</style>
</head>
<body>
	


<button class="cancelbutton" onclick="location.href='/';" style="font-size : 70px; width: 140; height: 140px">x</button>

</style>

<div class="icon-bar">
  	<a class="active"><img src="/images/statistics.png" onclick="location.href='/';" alt="statistics" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/activities.png" onclick="location.href='/activities';" alt="activities" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/calendar.png" onclick="location.href='/calendar';" alt="calendar" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/locations.png" onclick="location.href='/locations';" alt="locations" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/settings.png" onclick="location.href='/settings';" alt="settings" class="img" style="width:100px;height:100px;"></a>
</div>

</html> 