<html>
<head>
	<title>Event Creation Page</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
  <!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135672748-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<img src="/images/mindful.png" alt="Mindful image" class="img">
		</div>
	</div>
	<div class="center"><p>New Event</p></div>
<div class="donetext"><h1>Done</h1></div>
<div class="canceltext"><h1>Cancel</h1></div>

<div class="container">
	<h1>   <h1>
</div>
<div class="container">
	<h1>   <h1>
</div>
<div class="container">
	<form id="addEventForm" role="form" method="get" action="/add">
	<label style="font-size:50px; "for="emotion" id="emotion" name="emotion">Emotion:</label>
  <div class="styled-select">

  <select required style="height:50px;width:600px;font-size:25px" id="emotion" name="emotion">
    <option value=""></option>
    <option value="Happy">Happy</option>
    <option value="Sad">Sad</option>
    <option value="Content">Content</option>
    <option value="Stressed">Stressed</option>
    <option value="Anxious">Anxious</option>
    <option value="Depressed">Depressed</option>
  </select >



	<label style="font-size:50px;" for="satisfaction" id="satisfaction" name="satisfactiion">Satisfaction Level:</label>
  <div class="styled-select">
  <select required style="height:50px;width:600px;font-size:25px" id="satisfaction" name="satisfaction">
    <option value=""></option>

    <option value=1>1</option>
    <option value=2>2</option>
    <option value=3>3</option>
    <option value=4>4</option>
    <option value=5>5</option>

  </select>
</div>

  <label style="font-size:50px;"for="activity" id="activity" name="activity">Activity:</label>
  <div class="styled-select">
  <select required style="height:50px;width:600px;font-size:25px" id="activity" name="activity">
    <option value=""></option>
    <option value="Workout">Workout</option>
    <option value="School">School</option>
    <option value="Studying">Studying</option>
    <option value="Surfing">Surfing</option>
    <option value="Shopping">Shopping</option>
    <option value="Skateboarding">Skateboarding</option>
    <option value="Snowboarding">Snowboarding</option>
    <option value="Coding">Coding</option>
    <option value="Slacklining">Slacklining</option>
    <option value="Partying">Partying</option>
  </select>
</div>

 <label style="font-size:50px;"for="location" id="location" name="location">Location:</label>
  <div class="styled-select">
  <select required style="height:50px;width:600px;font-size:25px" id="location" name="location">
    <option value=""></option>
    <option value="Home">Home</option>
    <option value="School">School</option>
    <option value="Library">Library</option>
    <option value="Work">Work</option>
    <option value="Beach">Beach</option>
    <option value="Grocery Store">Grocery Store</option>
    <option value="Club">Club</option>
    <option value="Friend's House">Friend's House</option>
  </select>
</div>

  <label style="font-size:50px;"for="date" id="date" name="date">Date:</label> <h3><input required type="date" name="date" style="height:50px;width:600px;font-size:30px"></h1>

  <label style="font-size:50px;"for="time" id="time" name="time">Time:</label><h1><input required type="time" name="time" style="height:50px;width:600px;font-size:30px"></h1>

	
	 <label style="font-size:50px;"for="notes" id="notes" name="notes">Notes (optional):</label>
	  <input type="text" name="notes" style="height:50px;width:600px;font-size:25px">
	  <br>
	  <input type="submit" id="submitBtn" class="donebutton" value="+" onclick="location.href='/home';" style="font-size : 70px; width: 140; height: 140px"></button>
	  <!--<input type="submit" id="submitBtn" class="donebutton" value="Add the event"></input>-->
	</form>
	</div>
</div>
	</body>

<style>

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 50%;
}

.option {
	font-size: 30px;
}

.styled-select select {
	position: relative;
	left: 0;
}

.center {
	text-align: center;
	font-size: 100px;
}
.icon-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #D6D6D6;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 20px 20px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

.donebutton {
	border-radius: 100px;
	position: absolute;
	top: 220;
	right: 50;
}

.cancelbutton {
	border-radius: 5px;
	position: absolute;
	top: 220;
	left: 50;
}

.donetext {
	position: absolute;
	top: 345;
	right: 75;
}

.canceltext {
	position: absolute;
	top: 345;
	left: 75;
}

</style>
</head>
<body>
	


<button class="cancelbutton" onclick="location.href='/home';" style="font-size : 70px; width: 140; height: 140px">x</button>

</style>

<div class="icon-bar">
  	<a class="active"><img src="/images/statistics.png" onclick="location.href='/home';" alt="statistics" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/activities.png" onclick="location.href='/activities';" alt="activities" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/calendar.png" onclick="location.href='/calendar';" alt="calendar" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/locations.png" onclick="location.href='/locations';" alt="locations" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/settings.png" onclick="location.href='/settings';" alt="settings" class="img" style="width:100px;height:100px;"></a>
</div>

</html> 