<html>
<head>
	<title>Event Creation Page</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<img src="/images/mindful.png" alt="Mindful image" class="img">
		</div>
	</div>
	<div class="center"><p>Calendar</p></div>
<div class="donetext"><h1></h1></div>

<div class="container">
	<h1>   <h1>
</div>
<div class="container">
	<h1>   <h1>
</div>

	</body>

<style>

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 50%;
}

.option {
	font-size: 30px;
}

.styled-select select {
	position: relative;
	left: 0;
}

.center {
	text-align: center;
	font-size: 100px;
}
.icon-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #D6D6D6;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 20px 20px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

.backbutton {
	border-radius: 100px;
	position: absolute;
	top: 220;
	left: 50;
}

.cancelbutton {
	border-radius: 5px;
	position: absolute;
	top: 325;
	right: 50;
}

.backtext {
	position: absolute;
	top: 450;
	left: 75;
}

.canceltext {
	position: absolute;
	top: 450;
	right: 65;
}

</style>
</head>
<body>
	<button class="backbutton" onclick="location.href='/';" style="font-size : 70px; width: 140; height: 140px"><</button>

</style>

<div class="icon-bar">
  	<a><img src="/images/statistics.png" onclick="location.href='/home'"; alt="statistics" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/activities.png" onclick="location.href='/activities';" alt="activities" class="img" style="width:100px;height:100px;"></a>
	<a class="active"><img src="/images/calendar.png" onclick="location.href='/calendar';" alt="calendar" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/locations.png" onclick="location.href='/locations';" alt="locations" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/settings.png" onclick="location.href='/settings';" alt="settings" class="img" style="width:100px;height:100px;"></a>
</div>

</html> 