<html>
<head>
	<title>mindful</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
</head>
<body>
<!-- 
	<p style="font-size:30px">This is a paragraph.</p>
	<p style="font-size:11px">This is another paragraph.</p>
	-->

	<div class="jumbotron">
		<div class="container">
			<img src="/images/mindful.png" alt="Mindful Logo" class="img">

		</div>
	</div>
  <div class="stats"><p>Statistics</p></div>
	<div class="center"><b> < Today > </b></div>

<img src="/images/bar_graph.png" alt="Bar Graph" class="graph">
<img src="/images/pie_chart.png" alt="Pie chart" class="pie">
<img src="/images/pie_chart_info.png" alt="Pie chart info" class="pie-info">

<!--
<div class="styled-select" >
<select style="height:40px;width:600px">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select>
</div>
-->

<style>

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 50%;
}
.stats{
  text-align: center;
  font-size:100px;
}
.center{
  text-align: center;
  font-size:70px;
}
.today{
  top:0;
}
.pie {
  position: relative;
  left:120;
  top:200;
}
.pie-info {
  position: relative;
  left:40;
  bottom: 100;
  
}
.graph{
  position: relative;
  left: 150;
  top: 150;
}
.styled-select {
}
.styled-select select {
  position: relative;
  left: 200;
}
.icon-bar {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #555;
  overflow: auto;
}
.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 20px 20px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}
.toggle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 50%;
  position: fixed;
  top: 500;
  left:250;
  background-color: #555;
  }
.toggle a {
  float: left;
  width: 33%;
  text-align: center;
  padding: 20px 20px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}
.toggle a:hover {
  background-color: #4CAF50;
}
.icon-bar a:hover {
  background-color: #4CAF50;
}
.active {
  background-color: #4CAF50;
}
</style>
<body>

<div class="icon-bar">
  	<a class="active"><img src="/images/statistics.png" onclick="location.href='/home'"; alt="statistics" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/activities.png" onclick="location.href='/activities';" alt="activities" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/calendar.png" onclick="location.href='/calendar';" alt="calendar" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/locations.png" onclick="location.href='/locations';" alt="locations" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/settings.png" onclick="location.href='/settings';" alt="settings" class="img" style="width:100px;height:100px;"></a>
</div>

<div class="toggle">
	<a class="active"><text>Day</text></a>
	<a>Week</a>
	<a>Month</a>

<style>
.button {
  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {
	border-radius: 100%;

	position: fixed;
	bottom: 200;
	right: 100;
	}
.addbutton {
	border-radius: 100px;
	position: fixed;
	bottom: 200;
	right: 100;
}
</style>
</head>
<body>

<button class="addbutton" onclick="location.href='/add';" style="font-size : 70px; width: 140; height: 140px">+</button>
</body>
</html>
