<html>
<head>
	<title>mindful</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <!-- Google Analytics -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135672748-1', 'auto');
ga('send', 'pageview');
</script>
<!-- End Google Analytics -->
</head>
<body>
<!-- 
	<p style="font-size:30px">This is a paragraph.</p>
	<p style="font-size:11px">This is another paragraph.</p>
	-->

	<div class="jumbotron">
		<div class="container">
			<img src="/images/mindful.png" alt="Mindful Logo" class="img">

		</div>
	</div>
 <div class="stats"><p>Statistics</p></div>
<!--	<div class="center"><b> < Today > </b></div> -->
 <!-- <img src="/images/bar_graph.png" alt="Bar Graph" class="graph">-->
 
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
var msg = $.ajax({type: "GET", url: "data", async: false}).responseText;
var dataObject=eval("("+msg+")");
        var result = dataObject.reduce(function(res, obj) {
    if (!(obj.activity in res))
        res.__array.push(res[obj.activity] = obj);
    else {
        res[obj.activity].satisfaction += obj.satisfaction;
        res[obj.activity].satisfaction /=2;
    }

   
    return res;
}, {__array:[]}).__array
                .sort(function(a,b) { });

      console.log(result);
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {
                    var data = new google.visualization.DataTable(result);

  // assumes "word" is a string and "count" is a number
            data.addColumn('string', 'activity');
            data.addColumn('number', 'satisfaction');
            for (var i = 0; i < result.length; i++) {
                data.addRow([result[i].activity, result[i].satisfaction]);
            }
        var options = {
          width: 800,
          legend: { position: 'none', fontSize: 30},
          hAxis : {
            textStyle:{fontSize:25}
          },
          chart: {
            title: 'Average satisfaction for each activity:', bold: true },
            titleTextStyle:{fontSize:35},
            focusTarget: {fontSize: 30},

          axes: {
            x: {
              0: { side: 'bottom', label: '', fontSize: 0} 
            }
          },
          vAxis: {
          title: 'Average Satisfaction',
          titleTextStyle:{fontSize: 35}
        },

       
          bar: { groupWidth: "20%" , fontSize: 30}
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        // Convert the Classic options to Material options.
        chart.draw(data, google.charts.Bar.convertOptions(options));
      };
    </script>
  </head>
  <body>
    <div id="top_x_div" style="width: 800px; height: 600px;" class="histogram"></div>
  </body>
</html>

 <html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">


 var msg = $.ajax({type: "GET", url: "data", async: false}).responseText;
 var dataObject=eval("("+msg+")");

      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);
      
      var result2 = dataObject.reduce(function(res, obj) {
        
    if (!(obj.location in res))
        res.__array.push(res[obj.location] = obj);
    else {
        res[obj.location].satisfaction += obj.satisfaction;
        res[obj.location].satisfaction /=2;
    }
    
    return res;
}, {__array:[]}).__array
                .sort(function(a,b) { });

                console.log(result2);

        function loadData(fileName) { 
        // getting json from a remote file
        // by returning the jqXHR object we can use the .done() function on it
        // so the callback gets executed as soon as the request returns successfully
        return $.getJSON("data");
    }
      function drawChart () {
   
            var data = new google.visualization.DataTable(result2);

               
            // assumes "word" is a string and "count" is a number
            data.addColumn('string', 'location');
            data.addColumn('number', 'satisfaction');
            for (var i = 0; i < result2.length; i++) {
                data.addRow([result2[i].location, result2[i].satisfaction]);
            }

            var options = {
              pieSliceTextStyle:{fontSize:30},
              chartArea: {width: 5000, height: 500},
              legend:{textStyle:{fontSize:'30'}},
              tooltip: {textStyle:  {fontName: 'Verdana',fontSize: 40,bold: false}},
                
                title: 'Average satisfaction for each location:',
                titleTextStyle:{fontSize:35},
                is3D: true
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
            chart.draw(data, options);
        
}
  
    </script>
  </head>
  <body>
    <div id="piechart_3d" style="width: 800; height: 600;" class="piechart" ></div>
  </body>
</html>


<!--<img src="/images/pie_chart.png" alt="Pie chart" class="pie">
<img src="/images/pie_chart_info.png" alt="Pie chart info" class="pie-info">-->

<!--
<div class="styled-select" >
<select style="height:40px;width:600px">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="opel">Opel</option>
  <option value="audi">Audi</option>
</select>
</div>
-->

<style>
.histogram{
  left:5%;
  position:relative;
  top:0%;
}
.piechart{

  position : relative;
  top:2%;
  left:18%;
}
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 50%;
}
.stats{
  text-align: center;
  font-size:100px;
}
.center{
  text-align: center;
  font-size:70px;
}
.today{
  top:0;
}
.pie {
  position: relative;
  left:120;
  top:200;
}
.pie-info {
  position: relative;
  left:40;
  bottom: 100;
  
}
.graph{
  position: relative;
  left: 150;
  top: 150;
  z-index: 1000; position: relative;
}
.styled-select {
}
.styled-select select {
  position: relative;
  left: 200;
}
.icon-bar {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #D6D6D6;
  overflow: auto;
}
.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 20px 20px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}
.toggle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 50%;
  position: fixed;
  top: 20%;
  left:250;
  background-color: #555;
  }
.toggle a {
  float: left;
  width: 33%;
  text-align: center;
  padding: 20px 20px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}
.toggle a:hover {
  background-color: #4CAF50;
}
.icon-bar a:hover {
  background-color: #4CAF50;
}
.active {
  background-color: #4CAF50;
}
</style>
<body>

<div class="icon-bar">
  	<a class="active"><img src="/images/statistics.png" onclick="location.href='/home'"; alt="statistics" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/activities.png" onclick="location.href='/activities';" alt="activities" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/calendar.png" onclick="location.href='/calendar';" alt="calendar" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/locations.png" onclick="location.href='/locations';" alt="locations" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/settings.png" onclick="location.href='/settings';" alt="settings" class="img" style="width:100px;height:100px;"></a>
</div>

<!--<div class="toggle">
	<a class="active"><text>Day</text></a>
	<a>Week</a>
	<a>Month</a>-->

<style>
.button {
  background-color: #000000; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {border-radius: 2px;}
.button2 {border-radius: 4px;}
.button3 {border-radius: 8px;}
.button4 {
	border-radius: 100%;

	position: fixed;
	bottom: 200;
	right: 100;
	}
.addbutton {
	border-radius: 100px;
	position: fixed;
	bottom: 200;
	right: 100;
}
</style>
</head>
<body>

<button class="addbutton" onclick="location.href='/add';" style="font-size : 70px; width: 140; height: 140px">+</button>
</body>
</html>
