<html>
<head>
  <title>mindful</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<body>
<!-- 
  <p style="font-size:30px">This is a paragraph.</p>
  <p style="font-size:11px">This is another paragraph.</p>
  -->

  <div class="jumbotron">
    <div class="container">
      <img src="/images/mindful.png" alt="Mindful Logo" class="img">
 
    </div>
  </div>
  <script src="https://code.jquery.com/jquery.js"></script>
  {{> facebook}}
  <script src="/js/facebook.js"></script>
  <label for="user" id="user" name="user" class="username" style="font-size: 60px" >Username:</label>
    <input type="text" name="user" class="middleuser" style="height:50px;width:500px;font-size:30px">
    
    <label for="user" id="user" name="user" class="password" style="font-size: 60px">Password:</label>
    <input type="password" name="user" class="middlepass" style="height:50px;width:500px;font-size:30px">
    <br>
    <input type="submit" id="submitBtn" value="Login" class="login" onclick="location.href='/home';" style="font-size : 60px; width: 200; height: 130px"></button>
    <a href="url" class="create" style="font-size: 60px">Create an account</a>
    
    <p style="font-size: 60px" class="facebookLogin">Please login through Facebook
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">

        </fb:login-button>
      </p>
      <div id="facebookPhoto" class="profile">
      <h3>Profile Photo</h3>
      <img id="photo" class='img-responsive' src="" />
    </div>
<style>

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 50%;
}

.middleuser{
   position: absolute;
  top: 50%;
  left: 45%;
}

.username {
position: absolute;
  top: 49%;
  left: 8%;
}

.middlepass {
position: absolute;
  top: 57%;
  left: 45%;
}

.password {
  position: absolute;
  top: 56%;
  left: 8%;
}

.login{
  position: absolute;
  top: 66%;
  left: 8%;
}

.create{
  position: absolute;
  top: 65%;
  left: 65%;
}
</style>
</body>
</html>
